body{
  padding: 0px;
  margin: 20px 10px;
  background: linear-gradient(180deg, skyblue,pink,white); 
  height: 600px;
  /* overflow: hidden;    */
  
}


.center{
  text-align: center;
}

.addstu{
  margin-top: 10px;
}

.table-heading{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

.table-marg{
  margin-left: 16%;
  margin-top: 20px;
}

.add-form-btn{
  margin-left: 57%;
  margin-top: -66px;

}

.cancel-btn{
  margin-left: 50%;
}
